<div class="box">
    <div class="section">
        <div class="username">Username</div>
        <div><input type="email" [(ngModel)]="myusername" pInputText /></div>
    </div>
    <div class="section">
        <div class="password">Password</div>
        <div><input type="password" [(ngModel)]="mypassword" pInputText /></div>
    </div>

    <div>
        <button class="btn btn-primary button" label="log In" icon="pi pi-check" iconPos="left" (click)="onclick()">
        Log In
        </button>
    </div>
    <div class="msg">{{msg}}</div>
</div>